.container {
  margin: 0;
}

.header {
  height: fit-content;
  margin-bottom: -10px;
}

.avatar {
  width: 300px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}

.bio {
  background-color: #f5f5f5;
  padding: 32px;
  padding-top: 20px;
}
